# Тема “Вычисления с помощью Numpy”

Задание 1 Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк
и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6,
8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение.
Затем найдите среднее значение по каждому признаку, используя метод mean массива
Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента

In [50]:
import numpy as np

a = np.array([[1,6],[2,8],[3,11],[3,10],[1,7]]) 
mean_a=np.array(np.mean(a, axis=0))
print(mean_a)

[2.  8.4]

Задание 2
Вычислите массив a_centered, отняв от значений массива “а” средние значения
соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно
производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [51]:
a_centered=(a-mean_a )
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

Задание 3
Найдите скалярное произведение столбцов массива a_centered. В результате должна
получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число
наблюдений.

In [52]:
a_centered_sp=np.dot(a_centered.transpose()[0],a_centered.transpose()[1])
print(a_centered_sp)

8.0

In [53]:
print(a.shape[0])

5

In [54]:
print(a_centered_sp/(a.shape[0]-1))

2.0

Задание 4**
© geekbrains.ru
Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся
в массиве “а”. В задании 4 мы делили сумму произведений центрированных признаков на N-1, а не на
N, поэтому полученная нами величина является несмещенной оценкой ковариации.
Подробнее узнать о ковариации можно здесь:
Выборочная ковариация и выборочная дисперсия — Студопедия
В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с
помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать
транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером
2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом
1.

In [55]:
print(np.cov(a.transpose())[0][1])

2.0

# Тема “Работа с данными в Pandas”

Задание 1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со
столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и
['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно
содержатся данные:
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и
поклонники']
Нужны prices!
[500, 400, 300, 350, 450, 600, 200]

In [56]:
import pandas as pd

In [57]:
autors = pd.DataFrame({"autor_id": [1, 2, 3],"autor_name": ['Тургенев', 'Чехов', 'Островский']})
print(autors)

   autor_id  autor_name
0         1    Тургенев
1         2       Чехов
2         3  Островский

In [58]:
book = pd.DataFrame({"autor_id": [1, 1, 1, 2, 2, 3, 3],"book_title":['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], "price": [500, 400, 300, 350, 450, 600, 200]})
print(book)

   autor_id            book_title  price
0         1           Отцы и дети    500
1         1                 Рудин    400
2         1     Дворянское гнездо    300
3         2      Толстый и тонкий    350
4         2       Дама с собачкой    450
5         3                 Гроза    600
6         3  Таланты и поклонники    200

Задание 2
Получите датафрейм authors_price, соединив дата фреймы authors и books по полю author_id.

In [59]:
authors_price=pd.merge(autors, book)
print(authors_price)

   autor_id  autor_name            book_title  price
0         1    Тургенев           Отцы и дети    500
1         1    Тургенев                 Рудин    400
2         1    Тургенев     Дворянское гнездо    300
3         2       Чехов      Толстый и тонкий    350
4         2       Чехов       Дама с собачкой    450
5         3  Островский                 Гроза    600
6         3  Островский  Таланты и поклонники    200

Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими
книгами.

In [60]:
top5=authors_price.sort_values(by="price", ascending=False).head(5)
print(top5)

   autor_id  autor_name        book_title  price
5         3  Островский             Гроза    600
0         1    Тургенев       Отцы и дети    500
4         2       Чехов   Дама с собачкой    450
1         1    Тургенев             Рудин    400
3         2       Чехов  Толстый и тонкий    350

Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat
должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя
цена на книги этого автора.

In [61]:
authors_stat = authors_price.groupby('autor_name').agg(
    min_price=pd.NamedAgg(column='price', aggfunc='min'),
    max_price=pd.NamedAgg(column='price', aggfunc='max'),
    mean_price=pd.NamedAgg(column='price', aggfunc='mean')
).reset_index()
print(authors_stat)

   autor_name  min_price  max_price  mean_price
0  Островский        200        600       400.0
1    Тургенев        300        500       400.0
2       Чехов        350        450       400.0

Задание 5**
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться
данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные
из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot table с помощью вопросительного знака.
Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте
для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а
индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями,
при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием
"book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь,
что датафреймы book_info и book_info2 идентичны.

In [62]:
authors_price["cover"]=['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
print(authors_price)

   autor_id  autor_name            book_title  price    cover
0         1    Тургенев           Отцы и дети    500  твердая
1         1    Тургенев                 Рудин    400   мягкая
2         1    Тургенев     Дворянское гнездо    300   мягкая
3         2       Чехов      Толстый и тонкий    350  твердая
4         2       Чехов       Дама с собачкой    450  твердая
5         3  Островский                 Гроза    600   мягкая
6         3  Островский  Таланты и поклонники    200   мягкая

In [63]:
book_info = pd.pivot_table(authors_price, values='price', index=['autor_name'],
                       columns=['cover'], aggfunc="sum", fill_value=0)
print(book_info)

cover       мягкая  твердая
autor_name
Островский     800        0
Тургенев       700      500
Чехов            0      800

In [64]:
book_info.to_pickle("book_info.pkl")

In [65]:
book_info2=pd.read_pickle("book_info.pkl")

In [66]:
book_info2

cover       мягкая  твердая
autor_name
Островский     800        0
Тургенев       700      500
Чехов            0      800